
.blog-title{
    font-size: 1.5rem;
    font-weight: normal;
}
img{
    width: 20%;
}

.blog-layout{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.blog-layout .head{
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorBtn{
    border-radius: 50%;
    border-color: white;
    width: 50px;
    height: 50px;
}

.poemContent{
    font-size:1.2rem;
}

@media only screen and (max-width: 600px) {
    .blog-layout {
      width: 100%;
      padding: 20px;
    }
    .blog-title{
        font-size: 1.2rem;
        font-weight: normal;
    }
    
    .poemContent{
        font-size:1rem;
    }

    .blog-image{
        display: none;
    }
    
.colorBtn{
    border-radius: 50%;
    border-color: white;
    width: 25px;
    height: 25px;
}
  }